APP_NAME="BeerHeves ERP"
APP_URL="http://localhost:8000"
APP_TIMEZONE="Asia/Baku"
LOW_STOCK_THRESHOLD="5"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="beerheves"
DB_USERNAME="root"
DB_PASSWORD=""
DB_CHARSET="utf8mb4"
